html, body {
  font-family: Helvetica;
}

.content {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

header {
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#nav {
  text-align: center;
  padding-bottom: 15px;
}

.price-options {
  display: inline-block;
  max-width: 31%;
  min-width: 200px;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
